.container{
  width: 75%;
  margin: 0 auto; 
}
.style-header{
  background-color: aliceblue;
}

.style-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.style-header .container .menu-burguer{
 display: none;
}

.style-header .container .navigator ul{
  display: flex;
  align-items: center;
}

.style-header .container .navigator ul li{
  margin-left: 20px;
  text-transform: uppercase;
}

.style-header .container .navigator ul li a{
  padding: 8px;
  letter-spacing: 5px;
}

.style-header .container .navigator ul li a:hover{
  font-weight: 600;
}

.style-header .container .navigator ul li .last-ancor{
  border: 2px solid black;
  padding: 10px;
  color: black;
  background-color: aliceblue;
}

.style-header .container .navigator ul li .last-ancor:hover{
  background-color: black;
  color: aliceblue;
  border: none;
}

@keyframes showModal {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
/* banner */
.banner{  
  background-color: hsl(256, 26%, 20%);
  position: relative;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .container .picture{
 position: absolute;
 right: 236px;
 top: 140px;
}

.banner .container .line_one{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.banner .container .line_two{
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 2;
}

.banner .script-section{
  padding-top: 118px;
  padding-bottom: 128px;
}

.banner .script-section h1{
  font-family: 'DM Serif Display', serif;  
  font-size: 55px;
  color: #fff;
}
.banner .script-section h1::before{
  content: '';
  display: block;
  width: 350px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 60px;
}

.banner .script-section p{  
  padding: 25px 0;
  max-width: 550px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 28px;
}

.banner .script-section button{
  border: 2px solid white;
  padding: 10px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: .2s ease-in-out;
  color: #fff;
}

.banner .script-section button:hover{
  color: black;
  background-color: white;
}
/* Query navbar */

@media (max-width:800px) {
  .style-header{
    position: relative;
    width: 100%;
  }

  .style-header .container .navigator{    
    position: absolute;  
    top: 115px;
    width: 100%;  
    left: 0;   
    display: none; 
  }

  .style-header .container .navigator ul{
    background-color: #2B282F;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 140px;
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .style-header .container .navigator{
    display: none;
  }

  .style-header .container .navigator.active{
    display: block;
    animation: showModal .5s ease-in-out;
    z-index: 999;
  }

  .style-header .container .navigator ul li{
    margin: 30px 0;
  }

  .style-header .container .menu-burguer{
    display: block;
    cursor: pointer;
  }
}

/* Query banner */

@media (max-width:800px) {
  .banner .script-section h1::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
  }
  .banner .container .picture{
    position: absolute;
    right: 236px;
    top: 0;
    left: 0;
   }
   .banner{
    padding-top: 350px;
   }
   .banner .script-section{
    text-align: center;
    margin: 0 auto;
  }
  .banner .container .line_two{
    top: 451px;
  }
  .banner .container .line_one{
    top: 999px;
  }
}