@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;600&display=swap');

@import "./header.css";
@import "./section_one.css";
@import "./section_two.css";
@import "./footer.css";

/* 
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}